## MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIccon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msp

*.lnk

## Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

